torch>=2.1.0
torch-geometric>=2.4.0
torch-scatter>=2.1.2
torch-sparse>=0.6.18

pandas>=2.1.0
numpy>=1.24.0
networkx>=3.1

tqdm>=4.66.0
scikit-learn>=1.3.0

#For reading/writing JSON, CSV ensuring clean data loads
pyyaml>=6.0.1

#Optional but useful for rule engine or debugging
sympy>=1.12

#Needed for safe loading of PyG DataEdgeAttr in explains
packaging>=23.0